@import '../../styles/lib/colors.css';

todo-list {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
		padding: 0.25em 0;
		display: flex;

		&.todo-editing {
			opacity: 0.5;
		}
	}
	li:hover {
		background: $c-secondary-1;
	}
	li button {
		border: 0;
		margin-left: auto;
	}
	.todo {
		display: inline-block;
	}
	.todo_text {
		display: block;
	}
	.todo[data-priority^="("] {
		color: $c-secondary-0;
		font-weight: bold;
	}
	.todo[data-priority^="(A)"] {
		font-size: 120%;
	}
	.todo[data-priority^="(B)"] {
		font-size: 110%;
	}
	.todo[data-priority^="(C)"] {
		font-size: 100%;
	}
	.todo[data-priority^="(D)"] {
		font-size: 90%;
	}
	.todo[data-priority^="(E)"] {
		font-size: 80%;
	}
	.todo_context {
		color: #369;
		font-weight: bold;
		margin-right: 0.5em;
	}
	.todo_project {
		color: #936;
		font-style: italic;
		margin-right: 0.5em;
	}
	.todo_tag {
		border: 1px solid $c-grey-20;
		color: $c-grey-70;
		background: $c-grey-10;
		border-radius: 3px;
		margin-right: 0.5em;
		padding: 0 0.25em;
	}

	form {
		display: flex;
		margin-top: 0.5em;
		border-top: 1px solid $c-grey-20;
		padding-top: 0.5em;
		justify-content: stretch;
		align-items: flex-start;
		position: relative;

		label {
			display: block;
			flex: 1 0 auto;
		}

		calendar {
			position: absolute;
			left: 1em;
			bottom: 2em;
		}

		input[type="text"] {
			width: calc(100% - 10px);
		}
	}
}