@import "./lib/colors.css";

todo-app {
	.todo-app {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	todo-header{
		display: block;
		flex: 1 0 100%;
		position: relative;
		z-index: 1;
	}
	todo-list {
		display: block;
		flex: 1 1 75%;
		padding-top: 1em;
	}
	todo-nav {
		flex: 1 1 calc(25% - 1em);
	}
	button {
		background: $c-button-background;
		color: $c-button;
		border: 1px solid $c-button-border;
		border-radius: 3px;
		cursor: pointer;
		margin: 2px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

		&:hover {
			color: $c-button-hover;
			background: $c-button-hover-background;
		}
	}

	@media screen and (max-width: 686px) {
		todo-nav {
			display: none;
		}
		todo-header {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}
		todo-list {
			padding-top: 5.5em;
		}
	}
}