@import "../../styles/lib/colors.css";

todo-header {
    display: block;
    background: $c-header-background;
    color: $c-primary-1;
    border-bottom: 1px solid $c-primary-4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    header {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        text-shadow: 1px 1px 1px $c-primary-4;
        font-family: sans-serif;

        @media screen and (max-width: 686px) {
            display: inline-block;
            width: auto;
            height: 30px;
            background: url(/appicon.png) left center no-repeat;
            background-size: contain;
            margin-left: 3em;
            position: relative;
            padding-left: 2em;
            line-height: 30px;

            &::before {
                content:  "";
                border-top: 3px solid black;
                display: inline-block;
                width: 24px;
                height: 13px;
                border-bottom: 3px solid black;
                margin-left: -2em;
                margin-top: 5px;
                position: absolute;
                left: 0;
            }

            &::after {
                content: "";
                display: inline-block;
                background: black;
                height: 3px;
                width: 24px;
                position: absolute;
                top: 8px;
                margin-left: -2em;
                margin-top: 5px;
                left: 0;
            }
        }
    }

    .login-trigger {
        border: 1px solid $c-tertiary-4;
        cursor: pointer;
        background: $c-tertiary-4;
        color: $c-secondary-1;
        border-radius: 3px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.25);

        @media screen and (max-width: 686px) {
            margin-right: 1em;
        }

        &:hover {
            background: $c-tertiary-1;
            color: $c-tertiary-4;
            text-shadow: 1px 1px rgba(255, 255, 255, 0.25);
        }
    }

    .login-form {
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        background: $c-default-background;
        color: $c-grey-80;
        max-width: 320px;
        font-family: sans-serif;
        font-size: 90%;
        top: 3em;
        right: 0;
    }

    legend {
        font-size: 120%;
    }

    fieldset {
        border: 0;
    }

    label {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0.25em 0;
        font-size: 90%;
    }

    .login-form__actions {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
    }

    button[type="submit"] {
        border: 1px solid $c-button-border;
        cursor: pointer;
        background: $c-button-background;
        color: $c-button;
        border-radius: 3px;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.75);

        &:hover {
            color: $c-button-hover;
            background: $c-button-hover-background;
        }
    }
    .button-cancel {
        border: 1px solid $c-grey-30;
        background: $c-grey-10;
        color: $c-grey-70;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.75);
    }
}